<div class="audioPlayerWrapper" [class.collapsed]="isCollapsed">
    <div class="toggleButtonContainer">
        <button class="toggleButton" (click)="togglePlayer()" pButton>
            <span class="material-icons">
                {{ isCollapsed ? 'expand_less' : 'expand_more' }}
            </span>
        </button>
    </div>
    <div class="audioPlayerContainer">
        <div class="audioPlayerContent">
            <div class="articleDetails">
                <p class="articleTitle">{{this.articleTitle}}</p>
                <p class="articleAuthor">{{this.articleAuthor}}</p>
            </div>
            <div class="audioControls">
                <div class="buttons">
                    <button pButton (click)="rewind()" [disabled]="!audioSource">
                        <span class="material-icons icons-sm">replay_10</span>
                    </button>
                    <button pButton (click)="togglePlay()" id="playPauseBtn" [disabled]="!audioSource">
                        <span class="material-icons icons-lg">
                            {{ isPlaying ? 'pause' : 'play_arrow' }}
                        </span>
                    </button>
                    <button pButton (click)="forward()" [disabled]="!audioSource">
                        <span class="material-icons icons-sm">forward_10</span>
                    </button>
                </div>
                <input type="range" id="progressBar" [value]="progress" (input)="seek($event)" [disabled]="!audioSource">
            </div>
            <div class="downloadButton">
                <a *ngIf="downloadUrl" [href]="downloadUrl" download>
                    <span class="material-icons">download</span>
                </a>
            </div>
        </div>
        <audio #audioPlayer (timeupdate)="updateProgress()" (loadedmetadata)="setDuration()"></audio>
    </div>
</div>
